
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@300&display=swap');

html{background-color: #f6f9fe}

header{
    padding: 50px;
    margin: 0 20x;
    width: 100%;
}
.caixa{
    position: relative;
    box-sizing: border-box;
    padding: 0 5%;
}
.caixa img{
    width: 200px;
}
nav{
    position: absolute;
    right: 10%;
    display: inline-block;
    text-align: center;
}

nav ul{
    list-style: none;
}

.navegacao li{
    display: inline;
    margin: 0 25px 0 0;
    font-family: 'Nunito Sans', sans-serif;


    font-size: 18px;
}

main{
    margin-top:50px;
    align-items: center;
    position: absolute;
}

.central{
    width: 57%;
    display: inline-block;
    padding: 38px 0 30px 50px;
    margin: 0  0 70px 70px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    vertical-align: top;
    position: relative;
}

#aprenda-mais{
    background-color: #372865;
    color: #e7e7e7bb;
    border-width: 20px;
    border-radius: 35px;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    width: 60%;
}
#aprenda-mais a{
    color: #e7e7e7bb;
}

.central h1{
    font-size: 65px;
    line-height: 1.35;
    margin-bottom: 10px;
    color: #372865;
    font-weight: 1000;
    font-family: 'Nunito', sans-serif;
}

.central p{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;

}

#email{
    width: 45%;
    height: 20px;
    padding: 25px;
    margin-right: 15px;
    border-radius: 10px;
    font-size: 20px;
    border: #d4d4d4 solid;
    background: #ffffff;
    opacity: 0.7;
    font-family: 'Nunito', sans-serif;
}


.se-juntar{
    border-radius: 7px;
    background-color: #372865;
    padding: 20px 25px;
    color: #f6f9fe;
    letter-spacing: 1px;
    margin-bottom: 20px;   
    font-size: 18px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}




.ilustracao{
    width: 420px;
    display: inline;
    box-sizing: border-box;
    position: absolute;
    padding: 15px;
    right: 100px;
}


.companhias{
    margin:0 70px;
    padding: 38px 0 30px 50px;
}

.companhias p{
    font-family: 'Nunito', sans-serif;
    margin-bottom: 25px;
    font-weight: 650;
}

.companhias ul li{
    display: inline;
    margin-right: 15px;
}

.companhias ul li img{
    width: 58px;
}